<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
">

<!--    <bean id="checker" class="dev.dposadsky.java.swingteacherdevn.main.Checker">        
        
    </bean>
    
    <bean id="component" class="dev.dposadsky.java.swingteacherdevn.main.Component">        
        
    </bean>-->
    
    <bean id="mainFrame" class="dev.dposadsky.java.swingteacherdesktop.views.swing.MainFrameView">
        
    </bean>
    
    <bean id="mainFrameController" class="dev.dposadsky.java.swingteacherdesktop.controllers.swing.MainFrameController" init-method="startApplication">
        
    </bean>           
</beans>
