<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jst?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>-->

        <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
        <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
        <property name="hibernate.connection.url">
            jdbc:firebirdsql:class.mmcs.sfedu.ru:/fbdata/nirs/jst.fdb?encoding=utf8&amp;useUnicode=true&amp;characterEncoding=utf8
        </property>
        <property name="hibernate.connection.username">DPOSADSKY</property>
        <property name="hibernate.connection.password">25531094</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Mapping files -->
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.CompletedTask"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.Documentation"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.Error"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.Keyword"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.Lesson"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.Shorthand"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.Task"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.TaskCategory"/>
        <mapping class="dev.dposadsky.java.swingteacherdesktop.tables.User"/>
    </session-factory>
</hibernate-configuration>
